* {
	font-family: Arial;
}

body {
	/*padding-top: 70px;*/
}

.container {
	position: relative;
    margin: 0 auto;
}

.thumbnail {
	/*background-color: rgba(255,255,255,0.7);*/
	width: 240px;
	height: 580px;
	border: none;
	padding:30px;
    padding-top: 40px;
	float: left;
	display: inline-block;
    *display: inline;
	margin: 20px 20px 20px 20px;
	border-radius: 10px;
    text-align: left;
    background: rgba(255,255,255,0.7); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, rgba(255,255,255,0.5)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, rgba(255,255,255,0.5)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, rgba(255,255,255,0.5)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, rgba(255,255,255,0.5)); /* Standard syntax */
}

.thumbnail img {
	max-height: 200px;
}

a:hover {
	text-decoration: none;
}

table, form {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 10px;
}

table, tr {
   border: 10px solid transparent;
}

label {
	display: none;
}

.prevnext {
	clear:left;
	font-size:30px;
	text-align:center;
	font-family: arial;
}

.prevnext a:hover {
	color:#7c7c7c;
}

.prevnext a:link {
	color:#494949;
}

.prevnext a:active {
	color:#494949;
}

.prevnext a:visited {
	color:#2d2d2d;
}

.search_title {
	font-family: arial;
	color: white;
	font-size: 20px;
	text-align:center;
}

.noresults {
	text-align: center;
}

.onviewloc {
	color: red;
	font-size: 15px;
	font-family: serif;
	font-weight: bold;
}
		
input[type=text] {
	font-size: 18px;
	font-weight: bold;
    border: 2px solid black;
    border-radius: 4px;
    padding: 8px 20px;
    width: 50%;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: black;
    border: none;
    color: white;
}

input[type=text]:focus {
    border: 2px solid #ffb600;
}

*:focus {
    outline: none;
}

.btn-default {
    color: white;
    background-color: black;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
}

.btn-default:hover {
    color: black;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
}

.btn-default:focus {
	border: 2px solid red;
}

.prevnext {
	margin: auto;
}

.counter {
	margin: auto;
	text-align: center;
	color: #ffffff;
	background-color: #000000;
	width: 200px;
	height: 30px;
	line-height: 29px;
	font-style: italic;
	border-radius: 4px;
}

.movement-description {
	margin: auto;
	text-align: center;
	color: #000000;
	font-style: bold;
	background: rgba(255,255,255,0.7);
	border-radius: 15px;
	width: 100%;
	padding: 30px;
}

.movement-description p {
	margin: auto;
	text-align: left;
}

.artist-description {
	margin: auto;
	text-align: center;
	color: #ffffff;
	font-style: bold;
	background: #000000;
	border-radius: 5px;
	width: 300px;
	height: 100px;
}

#artist {
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
}

.artist-description p {
	margin: auto;
	text-align: center;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 0px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: transparent;
    border-radius: 0px;
}

.navbar-inverse {
    background-color: black;
    border-color: transparent;
    border-radius: 0px;
}

.navbar-inverse .navbar-brand {
    color: #ff9156;
    font-size: 20px;
    line-height: 16px;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}


/* navbar dropdowns */
.dropdown-menu{
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    max-height: 400px;
    overflow: auto;
}

.panel-title {
    font-size: 20px;
    font-weight: bold;
}

.panel-heading {
	text-align: center;
	background: rgba(255,255,255,0.2);
}

.panel-footer {
    padding: 10px 15px;
    background-color: #d8d8d8;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    text-align: right;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
    border-color: black;
}

.panel-default>.panel-heading {
    color: #ffffff;
    background-color: #000000;
    border-color: transparent;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #d8d8d8;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}