{% extends "base.html" %}

{% block content %}


    <form method="get" action=".">
        <form action="/search/" method="get">
        <input type="text" name="q" value="{{ query }}">
        <input type="submit" value="Search">
    </form>
    <br>
    <div class="counter">
        <p>Results {{ page.start_index }} - {{ page.end_index }} of {{ page.paginator.count }}</p>
    </div>
    <br>
        
        {% if query or page.object_list %}

            {% for result in page.object_list %}

                    <div class="thumbnail">
                        
                        <a href ="{{result.object.artwork.pageurl}}" target="blank">
                            <img src="{{result.object.artwork.imageurl}}" style="border:1px solid gray;">
                        
                            <div class="caption">
                                <h3>{{result.object.artwork.artist}}</h3>
                                <span class="thumb_body">
                                    <p><i>{{result.object.artwork|truncatechars:45}}</i></p>
                                    <p>{{result.object.artwork.date}}</p>
                                    <p>{{result.object.artwork.medium|truncatechars:45}}</p>
                                    <div class="onviewloc">
                                        <p>On view at {{result.object.collection}}</p>
                                    </div>
                                </span>
                            </div>
                        </a>
                       
                    </div>
                
            {% empty %}
                <div class="noresults"><h3>No results found.</h><div>
            {% endfor %}
            <div class="prevnext">
                {% if page.has_previous %}
                    {% if page.has_previous %}
                        <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">
                            <button type="button" class="btn btn-default"><< Previous</button>
                        </a>
                    {% endif %}
                {% endif %}
                {% if page.has_next %}
                    {% if page.has_next %}
                        <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">
                            <button type="button" class="btn btn-default">Next >></button>
                        </a>
                    {% endif %}
                {% endif %}
            </div>

        {% endif %}
    </form>
{% endblock %}

