{% extends "base.html" %}


{% block content %}

    <form action="/search/" method="get">
        <input type="text" name="q">
        <input type="submit" value="Search">
    </form>
    <br>
        <div class="counter">
            <p>Results {{ artworks.start_index }} - {{ artworks.end_index }} of {{ artworks.paginator.count }}</p>
        </div>
    <br>
        <div class="artist-description">
            <p id="artist">{{ artist }}</p>
            <p>{{ artist.nationality }}</p>
            <p>{{ artist.born }} - {{ artist.died }}</p>
        </div>

{% if artworks %}

    {% for artwork in artworks %}

        <div class="thumbnail">
                                
             <a href ="{{artwork.pageurl}}" target="blank">
                <img src="{{artwork.imageurl}}" style="border:1px solid gray;">
            
                <div class="caption">
                    <h3>{{artwork.artist}}</h3>
                    <span class="thumb_body">
                        <p>
                        <i>{{artwork.title|truncatechars:45}}</i></p><p>
                        {{artwork.date}}</p><p>
                        {{artwork.medium|truncatechars:45}}</p>
                        <div class="onviewloc"><p>
                        {{artwork.collection}}
                        </p></div>
                    </span>
                </div>
            </a>
           
        </div>


    {% endfor %}
    <div class="prevnext">
    {% if artworks.has_previous %}
            {% if artworks.has_previous %}
                <a href="?q={{ query }}&amp;page={{ artworks.previous_page_number }}">
                    <button type="button" class="btn btn-default"><< Previous</button>
                </a>
            {% endif %}
    {% endif %}
    {% if artworks.has_next %}
            {% if artworks.has_next %}
                <a href="?q={{ query }}&amp;page={{ artworks.next_page_number }}">
                    <button type="button" class="btn btn-default">Next >></button>
                </a>
            {% endif %}
    {% endif %}
    </div>
{% endif %}


{% endblock content %}