{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="eng">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compativle" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="A detailed, searchable index of all artworks on-view at leading art institutions and galleries.">
  		<meta name="keywords" content="Art, Museum, Art Museum, Collection, Painting, Search, Search Engine">

		<title>artnewgo</title>


		{% bootstrap_css %}
		{% bootstrap_javascript %}
		{% load static %}

		<link rel="shortcut icon" href="{% static 'static/favicon.ico' %}" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,700|Khula:400,700" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		
		<script>
  			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  			ga('create', 'UA-89877616-1', 'auto');
  			ga('send', 'pageview');

		</script>

		<body style="background: url(http://www.moma.org/media/W1siZiIsIjMzOTExNiJdLFsicCIsImNvbnZlcnQiLCItcmVzaXplIDEwMjR4MTAyNFx1MDAzZSJdXQ.jpg?sha=94a84fac9d759655); background-size:100000px; background-position:center; background-attachment: fixed; padding-bottom: 50px;">
		
		<style>
		</style>

	</head>
	<body bgcolor="#E6E6FA">

		<nav class="navbar navbar-inverse topnavbar">
		  	<div class="container-fluid">
		    	<div class="navbar-header">
		      		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        		<span class="icon-bar"></span>
		        		<span class="icon-bar"></span>
		        		<span class="icon-bar"></span>
		      		</button>
		      		<a class="navbar-brand" href="{% url 'app:index' %}">art<span style="font-family:Khula; font-weight:700">new</span>go</a>
		    	</div>
        		<div class="collapse navbar-collapse" id="myNavbar">
            		<ul class="nav navbar-nav">
                		<li class="active"><a href="/about">About</a></li>
                		<li>
                    		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Collections<b class="caret"></b></a>
                			<ul class="dropdown-menu">
                				<li>
	                    			{% for collection in collections %}
	                            		<a href="/collection/{{ collection.id }}">{{ collection|title }}</a>
	                        		{% endfor %}
	                        	</li>
                			</ul>
                		</li>				

						<li>
                    		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Movements<b class="caret"></b></a>
                    		<ul class="dropdown-menu">
                        		
                        		<li>
                        			{% for movement in movements %}
                            		<a href="/movement/{{ movement.id }}">{{ movement }}</a>
                        			{% endfor %}
                        		</li>
                        

                			</ul>
						</li>
						<li>
                    		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Artists<b class="caret"></b></a>
                    		<ul class="dropdown-menu">
                        		
                        		<li>
                        			{% for artist in artists %}
                            		<a href="/artist/{{ artist.id }}">{{ artist|truncatechars:30 }}</a>
                        			{% endfor %}
                        		</li>
                        

                			</ul>
						</li>
						<li><a href="/women">Women Artists</a></li>
        			</ul>
        		</div><!--/.nav-collapse -->

			</div>
		</nav>

			<div class="container">

				<div class="page-header">
					{% block header %}
					{% endblock header %}
				</div>
				<div class="main-content">
					{% block content %}
					{% endblock content %}
				</div>
				<div id="footer">Copyright © artnewgo 2017</div>

			</div> <!-- /container -->

	</body>
</html>