{% extends "base.html" %}


{% block content %}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      
      //artist by sex pie chart
      google.charts.setOnLoadCallback(drawSexChart);


      //artist count by movement pie chart
      google.charts.setOnLoadCallback(drawArtistCountMovementChart);

      


      function drawArtistCountMovementChart() {

        var data = google.visualization.arrayToDataTable([
          ['Movement', 'Artworks On View'],
          {% for movement in movement_tally %}
            ['{{ movement.artwork__artist__movement__movement }}',     {{ movement.artwork__artist__count }}],
          {% endfor %}
          
        ]);

        var options = {
            title: 'Artworks On View by Movement',
            sliceVisibilityThreshold: .03,
            pieSliceText: 'none',
            width: 600,
            height: 400,
        };

        var chart = new google.visualization.PieChart(document.getElementById('movepiechart'));

        chart.draw(data, options);
      }

      function drawSexChart() {

        var data = google.visualization.arrayToDataTable([
          ['Sex', 'Artworks On View'],
          
            ['Female',     {{ female }}],
            ['Male',     {{ male }}],
            ['Unknown',     {{ unknown }}],
          
          
        ]);

        var options = {
          title: "Artworks On View by Artist's Sex",
          pieSliceText: 'none',
          slices: {
            0: { color: 'red' },
            1: { color: 'blue'},
            2: { color: 'transparent' }
          },
          width: 600,
          height: 400,
        };

        var chart = new google.visualization.PieChart(document.getElementById('sexpiechart'));

        chart.draw(data, options);
      }

      // $(window).resize(function(){
      //   drawArtistCountMovementChart();
      //   drawSexChart();
      //   });
    </script>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="panel-title">
                    <a data-toggle="collapse" href="#collapse1">
                    {% if collection.collection_name == "MoMA" %}
                      {{ collection }}
                    {% else %}
                      {{ collection|title }}
                    {% endif %}
                    <span class="glyphicon glyphicon-chevron-down" style="float:right; line-height: 33px"></span></a>
                </p>
            </div>
            {% if collection.description %}
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                  <p style="text-align: center; font-weight: bold;">{{ collection.address }}</p>
                  <p>{{ collection.description|linebreaksbr }}</p>
                  <p style="text-align: right; padding-right: 20px;"><a href ="https://en.wikipedia.org/wiki/{{collection}}" target='_blank'>From Wikipedia, the free encyclopedia</a></p>

                    <div class="row">
                        <div class="col-6">
                            <div id="movepiechart" class="nomobile"></div>
                        </div>
                        
                    
                        <div class="col-6">
                            <div id="sexpiechart" class="nomobile"></div>
                        </div>
                    </div>

                </div>
                <div class="panel-footer"></div>
            </div>
            {% endif %}
        </div>
    </div>
    <br>

    <form class="search" action="/search/" method="get">
        <input type="search" name="q">
        <input type="submit" value="Search">
    </form>
    <br>
        <div class="counter">
            <p>Results {{ displays.start_index }} - {{ displays.end_index }} of {{ displays.paginator.count }}</p>
        </div>
    <br>
        

{% if displays %}

    {% for display in displays %}

        <div class="thumbnail">
                                
             <a href ="{{display.artwork.pageurl}}" target="_blank">
                <img src="{{display.artwork.imageurl}}" style="border:1px solid gray;" alt="{{ display.artwork.title|truncatechars:45 }}">
            
                <div class="caption">
                    <h3>{{display.artwork.artist}}</h3>
                    <div class="thumb_body">
                        <p>
                        <i>{{display.artwork.title|truncatechars:45}}</i></p>
                        {% if display.artwork.date is not None %}
                          <p>{{display.artwork.date}}</p>
                        {% endif %}
                        <p>{{display.artwork.medium|truncatechars:45}}</p>
                        <div class="onviewloc"><p>
                        On view at {{display.artwork.collection}}
                        </p></div>
                    </div>
                </div>
            </a>
           
        </div>


    {% endfor %}
    <div class="prevnext">
    {% if displays.has_previous %}
            {% if displays.has_previous %}
                <a href="?q={{ query }}&amp;page={{ displays.previous_page_number }}">
                    <button type="button" class="btn btn-default"><< Previous</button>
                </a>
            {% endif %}
    {% endif %}
    {% if displays.has_next %}
            {% if displays.has_next %}
                <a href="?q={{ query }}&amp;page={{ displays.next_page_number }}">
                    <button type="button" class="btn btn-default">Next >></button>
                </a>
            {% endif %}
    {% endif %}
    </div>
{% endif %}

{% endblock content %}