{% extends "base.html" %}


{% block content %}

    <div class="jumbotron">
    <h2><b>Welcome to </b><span style="color: #ff9156;">art<b>new</b>go</span></h2> 
    <p>A searchable index of <b>artworks and exhibitions currently on view</b> at major collections and galleries.</p>
    </div>

    <form class="search" action="/search/" method="get">
        <input type="search" name="q">
        <input type="submit" value="Search">
    </form>
    <br>
    <br>
    {% if exhibitions %}
        {% for exhibition in exhibitions %}
        <div class="thumbnail" id="exhibition">
            <a href ="{{exhibition.pageurl}}" target="_blank">

                <img src="{{exhibition.imageurl}}" style="border:1px solid #000;" alt="{{ exhibition.title|truncatechars:45 }}">
                <div class="caption">
                    <h4 id="exhibition-title"><i>{{exhibition.title|truncatechars:45}}</i></h4>
                    <div class="thumb_body">
                        <ul id="thumb-info-list">
                            {% for artist in exhibition.artist.all %}
                                <li><b>{{artist|truncatechars:45}}</b></li>
                            {% endfor %}
                        </ul>
                        <p>{{exhibition.description|truncatechars:150}}</p>
                        <div class="onviewloc-exhibit">
                            <p id="exhibition-collection">Current exhibition at <b>{{exhibition.collection}}</b></p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    {% endif %}
        {% for artwork in artworks %}
        <div class="thumbnail" id="artwork">
            <a href ="{{artwork.pageurl}}" target="_blank">
                <img src="{{artwork.imageurl}}" style="border:1px solid gray;" alt="{{ artwork.title|truncatechars:45 }}">
                <div class="caption">
                    <h3>{{artwork.artist|truncatechars:45}}</h3>
                    <div class="thumb_body">
                        <ul id="thumb-info-list">
                            <li><b><i>{{artwork.title|truncatechars:45}}</i></b></li>
                            {% if artwork.date is not None %}
                              <li>{{ artwork.date }}</li>
                            {% endif %}
                            <li>{{artwork.medium|truncatechars:45}}</li>
                        </ul>
                        <div class="onviewloc">
                            <p>On view at {{artwork.collection}}</p>
                        </div>
                        <div class="artist-link">
                            <p><a href="/artist/{{artwork.artist.id}}">More of<br>{{artwork.artist}} >></a></p>
                        </div>
                        <div class="movement-link">
                            {% for m in artwork.artist.movement.all %}
                            <a href="/movement/{{ m.id }}">{{ m.movement }} >></a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}


{% endblock content %}