{% extends "base.html" %}


{% block content %}

    <div class="jumbotron">
    <h2><b>Welcome to </b><span style="color: #ff9156;">art<b>new</b>go</span>!</h2> 
    <p>A searchable index of <b>artworks currently on-view</b> at major collections and galleries.</p>
    </div>

    <form class="search" action="/search/" method="get">
        <input type="search" name="q">
        <input type="submit" value="Search">
    </form>
    <br>
    <br>
{% if displays %}
    {% for display in displays %}
        <div class="thumbnail">
            <a href ="{{display.artwork.pageurl}}" target="blank">
                <img src="{{display.artwork.imageurl}}" style="border:1px solid gray;">
                <div class="caption">
                    <h3>{{display.artwork.artist|truncatechars:45}}</h3>
                    <span class="thumb_body">
                        <p><i>{{display.artwork.title|truncatechars:45}}</i></p>
                        {% if display.artwork.date is not None %}
                          <p>{{ display.artwork.date }}</p>
                        {% endif %}
                        <p>{{display.artwork.medium|truncatechars:45}}</p>
                        <div class="onviewloc">
                            <p>On view at {{display.collection}}</p>
                        </div>
                    </span>
                </div>
            </a>
        </div>   
    {% endfor %}
{% endif %}


{% endblock content %}