{% extends "base.html" %}


{% block content %}
    

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p class="panel-title">
                    <a data-toggle="collapse" href="#collapse1">{{ movement }}<span class="glyphicon glyphicon-chevron-down" style="float:right; line-height: 33px"></span></a>
                </p>
            </div>
            {% if movement.description %}
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body"><p>{{ movement.description|linebreaksbr }}</p>
                <p style="text-align: right; padding-right: 20px;"><a href ="https://en.wikipedia.org/wiki/{{movement}}" target='_blank'>From Wikipedia, the free encyclopedia</a></p>
            </div>
                <div class="panel-footer"></div>
            </div>
            {% endif %}
        </div>
    </div>
    <br>

    <form class="search" action="/search/" method="get">
        <input type="search" name="q">
        <input type="submit" value="Search">
    </form>
    <br>
        <div class="counter">
            <p>Results {{ displays.start_index }} - {{ displays.end_index }} of {{ displays.paginator.count }}</p>
        </div>
    <br>
        

{% if displays %}
    {% for display in displays %}
        {% if display.exhibition %}
        <div class="thumbnail" id="exhibition">
            <a href ="{{display.exhibition.pageurl}}" target="_blank">

                <img src="{{display.exhibition.imageurl}}" style="border:1px solid #000;" alt="{{ display.exhibition.title|truncatechars:45 }}">
                <div class="caption">
                    <h4 id="exhibition-title"><i>{{display.exhibition.title|truncatechars:45}}</i></h4>
                    <div class="thumb_body">
                        <ul id="thumb-info-list">
                            {% for artist in display.exhibition.artist.all %}
                                <li><b>{{artist|truncatechars:45}}</b></li>
                            {% endfor %}
                        </ul>
                        <p>{{display.exhibition.description|truncatechars:150}}</p>
                        <div class="onviewloc-exhibit">
                            <p id="exhibition-collection">Current exhibition at <b>{{display.collection}}</b></p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% else %}
                <div class="thumbnail" id="artwork">
                                
             <a href ="{{display.artwork.pageurl}}" target="_blank">
                <img src="{{display.artwork.imageurl}}" style="border:1px solid gray;" alt="{{ display.artwork.title|truncatechars:45 }}">
            
                <div class="caption">
                    <h3>{{display.artwork.artist}}</h3>
                    <div class="thumb_body">
                        <p>
                        <i>{{display.artwork.title|truncatechars:45}}</i></p>
                        {% if display.artwork.date is not None %}
                          <p>{{display.artwork.date}}</p>
                        {% endif %}
                        <p>
                        {{display.artwork.medium|truncatechars:45}}</p>
                        <div class="onviewloc"><p>
                        On view at {{display.artwork.collection}}
                        </p></div>
                        <div class="artist-link">
                            <a href="/artist/{{display.artwork.artist.id}}">More of<br>{{display.artwork.artist}} >></a>
                        </div>
                        {% if user %}
                            {% if display.artwork.artist.id not in favoriteartists %}
                                <a href = "javascript:void(0)" class="btn btn-xs btn-success favartistbutton" id="favartist{{display.artwork.artist.id}}" data-catid="{{ display.artwork.artist.id }}"><span class="glyphicon glyphicon-plus"></span> Favorite Artist</a>
                            {% else %}
                        {% endif %}
                    {% endif %}
                    </div>
                </div>
            </a>
           
        </div>
        {% endif %}
    {% endfor %}
    <div class="prevnext">
    {% if displays.has_previous %}
            {% if displays.has_previous %}
                <a href="?q={{ query }}&amp;page={{ displays.previous_page_number }}">
                    <button type="button" class="btn btn-default"><< Previous</button>
                </a>
            {% endif %}
    {% endif %}
    {% if displays.has_next %}
            {% if displays.has_next %}
                <a href="?q={{ query }}&amp;page={{ displays.next_page_number }}">
                    <button type="button" class="btn btn-default">Next >></button>
                </a>
            {% endif %}
    {% endif %}
    </div>
{% endif %}


{% endblock content %}