{% extends "base.html" %}


{% block content %}

    <form action="/search/" method="get">
        <input type="text" name="q">
        <input type="submit" value="Search">
    </form>
    <br>
        <div class="counter">
            <p>Results {{ femaleArtists.start_index }} - {{ femaleArtists.end_index }} of {{ femaleArtists.paginator.count }}</p>
        </div>
    <br>

{% if femaleArtists %}

    {% for artist in femaleArtists %}

        <div class="thumbnail">
                                
             <a href ="{{artist.pageurl}}" target="blank">
                <img src="{{artist.imageurl}}" style="border:1px solid gray;">
            
                <div class="caption">
                    <h3>{{artist.artist}}</h3>
                    <span class="thumb_body">
                        <p>
                        <i>{{artist.title|truncatechars:45}}</i></p><p>
                        {{artist.date}}</p><p>
                        {{artist.medium|truncatechars:45}}</p>
                        <div class="onviewloc"><p>
                        {{artist.collection}}
                        </p></div>
                    </span>
                </div>
            </a>
           
        </div>


    {% endfor %}
    <div class="prevnext">
    {% if femaleArtists.has_previous %}
            {% if femaleArtists.has_previous %}
                <a href="?q={{ query }}&amp;page={{ femaleArtists.previous_page_number }}">
                    <button type="button" class="btn btn-default"><< Previous</button>
                </a>
            {% endif %}
    {% endif %}
    {% if femaleArtists.has_next %}
            {% if femaleArtists.has_next %}
                <a href="?q={{ query }}&amp;page={{ femaleArtists.next_page_number }}">
                    <button type="button" class="btn btn-default">Next >></button>
                </a>
            {% endif %}
    {% endif %}
    </div>
{% endif %}


{% endblock content %}